name: TS CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: ./.github/actions/common-ts-setup

      - name: Run lint
        run: pnpm lint

  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: ./.github/actions/common-ts-setup

      - name: Run tests
        run: pnpm test
